<div class="form-group row">
  <div class="col-12">
    <small class="font-weight-bold">Vehículo nº {{i + 1}}</small>
  </div>
  <div class="col-md-2">
    <label for="matricula">Matrícula</label>
    <input type="text" class="form-control" [placeholder]="vehiculo.matricula" [(ngModel)]="vehiculo.matricula"
      name="matricula{{i}}" #matriculaModel="ngModel" [ngClass]="{
  'is-valid': matriculaModel.touched && matriculaModel.valid,
  'is-invalid': matriculaModel.touched && !matriculaModel.valid
}" />
    <div *ngIf="matriculaModel.touched && matriculaModel.invalid" class="alert alert-danger">
      <small>Por favor, introduzca una matrícula correcta.</small>
    </div>
  </div>

  <div class="col-md-2">
    <label for="marca">Marca</label>
    <input type="text" class="form-control" id="marca" [placeholder]="vehiculo.marca" [(ngModel)]="vehiculo.marca"
      name="marca{{i}}" #marcaModel="ngModel" [ngClass]="{
  'is-valid': marcaModel.touched && marcaModel.valid,
  'is-invalid': marcaModel.touched && !marcaModel.valid
}" />
    <div *ngIf="marcaModel.touched && marcaModel.invalid" class="alert alert-danger">
      <small>Por favor, introduzca una marca correcta.</small>
    </div>
  </div>

  <div class="col-md-2">
    <label for="modelo">Modelo</label>
    <input type="text" class="form-control" id="modelo" [placeholder]="vehiculo.modelo" [(ngModel)]="vehiculo.modelo"
      name="modelo{{i}}" #modeloModel="ngModel" [ngClass]="{
  'is-valid': modeloModel.touched && modeloModel.valid,
  'is-invalid': modeloModel.touched && !modeloModel.valid
}" />
    <div *ngIf="modeloModel.touched && modeloModel.invalid" class="alert alert-danger">
      <small>Por favor, introduzca un modelo correcto.</small>
    </div>
  </div>

  <div class="col-md-2">
    <label for="carroceria">Carroceria</label>
    <input type="text" class="form-control" id="carroceria" [placeholder]="vehiculo.carroceria"
      [(ngModel)]="vehiculo.carroceria" name="carroceria{{i}}" #carroceriaModel="ngModel" [ngClass]="{
  'is-valid': carroceriaModel.touched && carroceriaModel.valid,
  'is-invalid': carroceriaModel.touched && !carroceriaModel.valid
}" />
    <div *ngIf="carroceriaModel.touched && carroceriaModel.invalid" class="alert alert-danger">
      <small>Por favor, introduzca una carrocería correcta.</small>
    </div>
  </div>

  <div class="col-md-3">
    <label for="matriculacion">F. Matriculación</label>
    <input type="date" class="form-control" id="matriculacion" [placeholder]="vehiculo.anyo"
      [ngModel]="vehiculo.anyo | date: 'yyyy-MM-dd'" (change)="cambioFecha($event)" name="matriculacion{{i}}"
      #matriculacionModel="ngModel" onkeydown="return false" [ngClass]="{
  'is-valid': matriculacionModel.touched && matriculacionModel.valid,
  'is-invalid': matriculacionModel.touched && !matriculacionModel.valid
}" />
    <div *ngIf="matriculacionModel.touched && matriculacionModel.invalid" class="alert alert-danger">
      <small>Por favor, introduzca una fecha de matriculación correcta.</small>
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col-md-1">
      <a class="btn" (click)="eliminarVehiculo(vehiculo)"><i class="bi bi-trash-fill"></i></a>
    </div>
  </div>
</div>
