<div class="card tarj" *ngIf="visible">
  <div class="row justify-content-end mr-0 pr-2">
    <button type="button" (click)="cerrar($event)" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body text-center">
    <button class="btn btn-primary mb-3 pb-2 pt-3 font-weight-bold rounded" (click)="reservaplaza()">
      <h6>¡QUIERO RESERVAR ESTA PLAZA!</h6>
    </button>
    <h5 class="card-title text-center">{{parking?.nombre}}</h5>
    <p class="card-text text-center">
      <small>
        <strong>Horario:</strong><br>
        {{parking?.apertura | date:'shortTime'}}H - {{parking?.cierre | date:'shortTime'}}H
      </small>
    </p>
    <p class="card-text text-center">
      <small>
        <strong>Estado al cierre:</strong><br>
        {{parking?.estadocierre}}
      </small>
    </p>
    <p class="card-text text-center">
      <small>
        <div *ngIf="parking?.precioh > 0">
          <strong>Tarifas:</strong> <br>
          {{parking?.preciomin}}€/min.&nbsp; - &nbsp;{{parking?.preciomedh}}€/30min. <br>
          {{parking?.precioh}}€/h.&nbsp; - &nbsp;{{parking?.preciodia}}€/día. <br>
          {{parking?.preciomaxd}}€/máx.
        </div>
        <div *ngIf="parking?.precioh == 0">
          <strong>Tipo de plaza:</strong> <br>
          Para {{plazaEscogida?.tipo}}
        </div>
      </small>
    </p>
  </div>
</div>
<div class="card tarj" *ngIf="reservando">
  <div class="row justify-content-end mr-0 pr-2">
    <button type="button" (click)="cerrarReservando($event)" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body text-center">
    <button (click)="anularReserva(0)" class="btn btn-secondary mb-3 font-weight-bold rounded pt-2">
      <h6>Anular reserva</h6>
    </button>
    <button (click)="irAPlaza()" class="btn btn-primary mb-3 font-weight-bold rounded pt-2">
      <h6>Ir a la plaza</h6>
    </button>
    <h5 class="card-title text-center">{{parking?.nombre}}</h5>
    <p class="card-text text-center">
      <small>
        Tu reserva es válida durante <br>
        <strong>{{minutes}}m:{{seconds}}s</strong><br>

      </small>
    </p>
    <button (click)="anularReserva(1)" class="btn btn-success mb-3 font-weight-bold rounded pt-2">
      <h6>Ya he llegado</h6>
    </button>
  </div>
</div>
<agm-map [styles]="mapStyles" [latitude]="lat" [longitude]="lng" [zoom]="zoom" class='p-0 m-0'>
  <agm-direction *ngIf="indicar" [origin]="origin" [destination]="destination">
  </agm-direction>

  <div *ngFor="let plaza of plazas">
    <agm-marker [label]="Reserva" *ngIf="plaza.estado == 2 && plaza.idplaza == plazaReservada?.idplaza"
      [latitude]="plaza.latitud" [longitude]="plaza.longitud" [markerClickable]="true"
      (markerClick)="getDestination(plaza)" [iconUrl]="iconoReservada"></agm-marker>

    <agm-marker *ngIf="plaza.estado == 0 && plaza.tipo == 'Normal'" [latitude]="plaza.latitud"
      [longitude]="plaza.longitud" [markerClickable]="true" (markerClick)="getDestination(plaza)"
      [iconUrl]="iconoLibre"></agm-marker>

    <agm-marker *ngIf="plaza.estado == 0 && plaza.tipo == 'Discapacitados'" [latitude]="plaza.latitud"
      [longitude]="plaza.longitud" [markerClickable]="true" (markerClick)="getDestination(plaza)"
      [iconUrl]="iconoMinusvalido"></agm-marker>

    <agm-marker *ngIf="plaza.estado == 0 && plaza.tipo == 'Eléctricos'" [latitude]="plaza.latitud"
      [longitude]="plaza.longitud" [markerClickable]="true" (markerClick)="getDestination(plaza)"
      [iconUrl]="iconoElectrico"></agm-marker>
  </div>
</agm-map>
