agm-map {
  height: 100vh;
  width: 100vw;
}

.tarj{
  position: fixed;
  top: 100px;
  right: 15px;
  width: 250px;
  z-index: 999;
  margin: 0;

}

.rounded{
  border-radius: 50px !important;
}

.reservada{
  border: 3px solid red;
}

@media screen and (max-width: 768px) {
  .tarj{
    overflow-y:scroll;
    top: 65px;
    right: 5px;
  }
}
