<div class="my-2">
  <h6 class="font-weight-bold"> {{faq.pregunta}} <i class="bi bi-caret-down-fill" data-toggle="collapse"
      [attr.href]="'#id' + faq.idfaq" role="button" aria-expanded="false" [attr.aria-controls]="'id' + faq.idfaq"></i>
  </h6>
</div>
<div class="pl-4 pt-3 collapse" id="id{{faq.idfaq}}">
  <div class="card card-body">
    {{faq.respuesta}}
  </div>
</div>
