<div class="container-fluid">
  <div class="row align-items-center" id="landing">
    <div class="col-12">
      <h1 class="text-light text-center font-weight-bolder">Aparcamiento inteligente</h1>
      <h6 class="text-light text-center">
        Contribuye con el medio ambiente, ahorra tiempo y dinero, únete al
        futuro.
      </h6>
      <div class="text-center">
        <a [routerLink]="['/registro']" class="btn btn-primary font-weight-bold mt-5 text-light">Comienza ahora</a>
      </div>
    </div>
  </div>
</div>
<div class="container p-5">
  <div class="row seccion">
    <div class="col-12">
      <h2 class="text-center mt-2 mt-md-5">¿Qué es Carking?</h2>
      <hr class="text-center bg-secondary" />
    </div>
    <div class="col-12 mt-3 mt-md-5">
      <p class="text-center mb-4">
        Este proyecto es fruto de una idea de sostenibilidad para con el
        medioambiente y del ahorro económico y la mejora de la calidad de vida
        de las personas que por el momento hagan uso de vehículos privados
        (automóviles).
      </p>
      <p class="text-center mb-4">
        CarKing es un proyecto ambicioso, que supone remodelar núcleos urbanos y
        adaptarlos a un nuevo concepto de aparcamiento sobretodo en ciudades
        turísticas en las cuales hay un gran volumen de tráfico y escasez de
        aparcamiento.
      </p>
      <p class="text-center mb-4">
        Su propósito es el siguiente: mantener bajo control la existencia y
        disponibilidad de las plazas de aparcamiento de las ciudades registradas
        ofreciéndola a través de una aplicación web.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid p-5 bg-secondary text-light">
  <div class="container pb-5">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center mt-2 mt-md-5">Benefíciate</h2>
        <hr class="mb-md-3 text-center bg-light" />
      </div>
    </div>
    <div class="row mt-3 mt-md-5">
      <div class="col-xs-12 col-sm-6">
        <h5 class="title col-12">
          <i class="bi bi-clock"> &nbsp;</i>Disfruta de tu tiempo
        </h5>
        <p class="col-11 float-right">
          Que nada ni nadie te haga desperdiciar tu tiempo buscando donde
          aparcar.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 mt-2 mt-md-0">
        <h5 class="title col-12">
          <i class="bi bi-wallet2"> &nbsp;</i>Ahorra dinero
        </h5>
        <p class="col-11 float-right">
          A partir de ahora vas a notar como el consumo de tu vehículo va a ser
          muy inferior.
        </p>
      </div>
    </div>
    <div class="row mt-2 mt-md-5">
      <div class="col-xs-12 col-sm-6">
        <h5 class="title col-12">
          <i class="bi bi-tools"> &nbsp;</i>Cuida tu vehículo
        </h5>
        <p class="col-11 float-right">
          Ya no solo ahorrarás combustible, además, dejarás de maltratar a tu
          vehículo con tantos atascos y vueltas.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 mt-2 mt-md-0">
        <h5 class="title col-12">
          <i class="bi bi-map"> &nbsp;</i>Elige donde aparcar
        </h5>
        <p class="col-11 float-right">
          Dirígete directo a tu destino sabiendo con antelación donde vas a estacionar.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid p-md-5 bg-grisClaro">
  <div class="container p-5 pt-md-0">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center mt-2 mt-md-5">Noticias</h2>
        <hr class="mb-md-3 text-center bg-secondary" />
      </div>
    </div>
    <div class="row mt-3 mt-md-5 justify-content-around align-items-stretch">
      <!-- Card Articulo -->

      <app-articulo *ngFor="let art of articulos" class="col-12 col-md-4 col-lg-3 mx-md-1 my-2 p-0" [articulo]="art">
      </app-articulo>

      <!-- Fin Card Articulo -->

    </div>
  </div>
</div>
<app-footer></app-footer>
