html,
body {
  height: 100%;
}

#landing {
  background-image: url("src/assets/landing.png");
  background-color: rgba(0,0,0,0.2);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 94vh;
  min-height: 600px;
  background-blend-mode: overlay;
}

#landing h1,#landing h6{
  text-shadow: 1px 1px 3px black,-1px -1px 3px black;
}

.seccion {
  min-height: 500px;
}

.card {
  min-height: 350px;
}

hr {
  padding: 1.5px;
  width: 18%;
}
