<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-10 mx-auto mt-4">
      <h1 class="text-center">Lista de Artículos</h1>
    </div>
  </div>
  <div class="row justify-content-center align-items-center mt-3">
    <div class="col-9 col-md-3 col-lg-2 text-center text-md-right">
      <label class="mb-0 font-weight-bold" for="busca">Buscar por id:</label>

    </div>
    <div class="col-9 col-sm-5 col-md-3 col-lg-2 p-0">
      <input type="search" name="busca" id="busca" class="form-control" placeholder="Teclee un id..."
        [(ngModel)]="campoBusqueda" (input)="busqueda($event.target.value)">
      <small id="errorId" *ngIf="errorId">El id ha de ser numérico</small>
    </div>
  </div>
  <div *ngIf="cargando" class="text-center" style="padding-top: 60px;">
    <div class="spinner-border text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row mt-4" *ngIf="!noresultados && articulos.length > 0">
    <div class="col-11 mx-auto">
      <div class="table-responsive">

        <table class="table table-bordered table-striped table-hover table-sm text-center">
          <thead class="bg-light">
            <tr class="filters">
              <th scope="col">Id</th>
              <th scope="col">Título</th>
              <th scope="col">Autor</th>
              <th scope="col">F.Publicación</th>
              <th scope="col">&nbsp;</th>
              <th scope="col">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let articulo of articulos | paginate: { itemsPerPage: 5, currentPage: page }">
              <td class="align-middle" scope="row">{{ articulo.idarticulo }}</td>
              <td class="align-middle">{{ articulo.titulo}}</td>
              <td class="align-middle">{{ articulo.idautor }}</td>
              <td class="align-middle">{{ articulo.fechapub | date:'MM/dd/yy'}}</td>
              <td class="align-middle"><a class="btn" [routerLink]="['/admin/editararticulo', articulo.idarticulo]"><i
                    class="bi bi-pencil-square text-success"></i></a></td>
              <td class="align-middle"><a class="btn" (click)="eliminar(articulo.idarticulo)"><i
                    class="bi bi-trash-fill text-primary"></i></a></td>
            </tr>
          </tbody>
        </table>
        <div class="text-center mt-4">

          <pagination-controls (pageChange)="page = $event" maxSize="9" responsive="true" previousLabel="Previous"
            nextLabel="Next">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="noresultados" class="text-center mt-5">
    <p>No existe ninguna coincidencia</p>
  </div>
</div>
