<form #formRegistro="ngForm" novalidate (ngSubmit)="registro()"
  class="shadow col-lg-11 col-12 mx-auto my-5 py-3 px-3 px-lg-5 border border-dark border-1">
  <h2 class="text-center mb-4">Editar FAQ</h2>
  <div class="form-group row">

    <div class="col-md-10 mx-auto">
      <label for="pregunta">Pregunta</label>
      <textarea class="form-control" id="pregunta" required [(ngModel)]="faq.pregunta" name="pregunta"
        #preguntaModel="ngModel" [ngClass]="{
        'is-valid': preguntaModel.touched && preguntaModel.valid,
        'is-invalid': preguntaModel.touched && !preguntaModel.valid
      }"></textarea>
      <div *ngIf="preguntaModel.touched && preguntaModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca una pregunta correcta.</small>
      </div>
    </div>
    <div class="col-md-10 mx-auto mt-4">
      <label for="respuesta">Respuesta</label>
      <textarea class="form-control" id="respuesta" required [(ngModel)]="faq.respuesta" name="respuesta"
        #respuestaModel="ngModel" [ngClass]="{
        'is-valid': respuestaModel.touched && respuestaModel.valid,
        'is-invalid': respuestaModel.touched && !respuestaModel.valid
      }"></textarea>
      <div *ngIf="respuestaModel.touched && respuestaModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca una respuesta correcta.</small>
      </div>
    </div>
  </div>
  <div class="col-12 text-center mt-4">
    <button name="button" ngDefaultControl ngModel #buttonModel="ngModel" type="submit"
      [disabled]="formRegistro.invalid" class="col-md-4 btn btn-primary font-weight-bold">
      Modificar
    </button>
  </div>

</form>
