<form #formModificacion="ngForm" novalidate (ngSubmit)="submit()"
  class="shadow col-lg-11 col-11 mx-auto my-5 p-5 border border-dark border-1">
  <h2 class="text-center mb-5">Modificación datos de usuario</h2>

  <div class="form-group row">
    <div class="col-md-3">
      <label for="nombreModel">Nombre</label>
      <input type="text" class="form-control" required [(ngModel)]="usuario.nombre" name="nombre" #nombreModel="ngModel"
        [ngClass]="{
          'is-valid': nombreModel.touched && nombreModel.valid,
          'is-invalid': nombreModel.touched && !nombreModel.valid
        }" />
      <div *ngIf="nombreModel.touched && nombreModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca un nombre correcto.</small>
      </div>
    </div>

    <div class="col-md-5">
      <label for="apellidos">Apellidos</label>
      <input type="text" class="form-control" id="apellidos" required [(ngModel)]="usuario.apellidos" name="apellidos"
        #apellidosModel="ngModel" [ngClass]="{
          'is-valid': apellidosModel.touched && apellidosModel.valid,
          'is-invalid': apellidosModel.touched && !apellidosModel.valid
        }" />
      <div *ngIf="apellidosModel.touched && apellidosModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca unos apellidos correctos.</small>
      </div>
    </div>
    <div class="col-md-4">
      <label for="nac">Fecha Nac.</label>
      <input type="date" class="form-control" id="nac" required [ngModel]="usuario.fechanac | date: 'yyyy-MM-dd'"
        onkeydown="return false" (change)="cambioFecha($event)" name="nac" #nacModel="ngModel" [ngClass]="{
          'is-valid': nacModel.touched && nacModel.valid,
          'is-invalid': nacModel.touched && !nacModel.valid
        }" />
      <div *ngIf="nacModel.touched && nacModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca una fecha de nacimiento correcta.</small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3">
      <label for="dni">Dni</label>
      <input type="text" class="form-control" id="dni" required [(ngModel)]="usuario.dni" name="dni" #dniModel="ngModel"
        [ngClass]="{
          'is-valid': dniModel.touched && dniModel.valid,
          'is-invalid': dniModel.touched && !dniModel.valid
        }" />
      <div *ngIf="dniModel.touched && dniModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca un dni correcto.</small>
      </div>
    </div>
    <div class="col-md-5">
      <label for="direccion">Dirección</label><input type="text" class="form-control" id="direccion" required
        [(ngModel)]="usuario.direccion" name="direccion" #direccionModel="ngModel" [ngClass]="{
          'is-valid': direccionModel.touched && direccionModel.valid,
          'is-invalid': direccionModel.touched && !direccionModel.valid
        }" />
      <div *ngIf="direccionModel.touched && direccionModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca una dirección correcta.</small>
      </div>
    </div>
    <div class="col-md-1 px-md-0">
      <label for="numero">Núm.</label><input type="number" class="form-control" id="numero" [(ngModel)]="usuario.numero"
        name="numero" #numeroModel="ngModel" [ngClass]="{
          'is-valid': numeroModel.touched && numeroModel.valid,
          'is-invalid': numeroModel.touched && !numeroModel.valid
        }" />
      <div *ngIf="numeroModel.touched && numeroModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca un número correcto.</small>
      </div>
    </div>
    <div class="col-md-3">
      <label for="codigopostal">Cód. Postal</label><input type="number" class="form-control" id="codigopostal" required
        [(ngModel)]="usuario.codigopostal" name="codigopostal" #codigopostalModel="ngModel" [ngClass]="{
          'is-valid': codigopostalModel.touched && codigopostalModel.valid,
          'is-invalid': codigopostalModel.touched && !codigopostalModel.valid
        }" />
      <div *ngIf="codigopostalModel.touched && codigopostalModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca un código postal correcto.</small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <label for="poblacion">Población</label><input type="text" class="form-control" id="poblacion" required
        [(ngModel)]="usuario.poblacion" name="poblacion" #poblacionModel="ngModel" [ngClass]="{
          'is-valid': poblacionModel.touched && poblacionModel.valid,
          'is-invalid': poblacionModel.touched && !poblacionModel.valid
        }" />
      <div *ngIf="poblacionModel.touched && poblacionModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca una población correcta.</small>
      </div>
    </div>
    <div class="col-md-6">
      <label for="provincia">Provincia</label><input type="text" class="form-control" id="provincia" required
        [(ngModel)]="usuario.provincia" name="provincia" #provinciaModel="ngModel" [ngClass]="{
          'is-valid': provinciaModel.touched && provinciaModel.valid,
          'is-invalid': provinciaModel.touched && !provinciaModel.valid
        }" />
      <div *ngIf="provinciaModel.touched && provinciaModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca una provincia correcta.</small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4">
      <label for="telefono">Teléfono</label><input type="tel" class="form-control" id="telefono" required
        [(ngModel)]="usuario.tel" name="telefono" #telefonoModel="ngModel" [ngClass]="{
          'is-valid': telefonoModel.touched && telefonoModel.valid,
          'is-invalid': telefonoModel.touched && !telefonoModel.valid
        }" />
      <div *ngIf="telefonoModel.touched && telefonoModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca un teléfono correcto.</small>
      </div>
    </div>
    <div class="col-md-8">
      <label for="email">Correo Electrónico</label><input type="text" class="form-control" id="email" required
        [(ngModel)]="usuario.email" name="email" #emailModel="ngModel" [ngClass]="{
          'is-valid': emailModel.touched && emailModel.valid,
          'is-invalid': emailModel.touched && !emailModel.valid
        }" />
      <div *ngIf="emailModel.touched && emailModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca un correo electrónico correcto.</small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4">
      <label for="alias">Alias</label><input type="text" class="form-control" id="alias" required
        [(ngModel)]="usuario.alias" name="alias" #aliasModel="ngModel" [ngClass]="{
          'is-valid': aliasModel.touched && aliasModel.valid,
          'is-invalid': aliasModel.touched && !aliasModel.valid
        }" />
      <div *ngIf="aliasModel.touched && aliasModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca un alias correcto.</small>
      </div>
    </div>
    <div class="col-md-4">
      <label for="pass">Contraseña</label><input type="password" class="form-control" id="pass" [ngModel]="pass"
        name="pass" #passModel="ngModel" (change)="cambiopass($event);" [ngClass]="{
          'is-valid': passModel.touched && passModel.valid,
          'is-invalid': passModel.touched && !passModel.valid
        }" />
      <div *ngIf="passModel.touched && passModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca una contraseña correcta.</small>
      </div>
    </div>
    <div class="col-md-4">
      <label>&nbsp;</label>
      <a class="boton d-block mt-2" id="generar" (click)="eliminar()">Borrar cuenta</a>
    </div>
  </div>
  <div class="col-12 text-center mt-4">
    <button name="button" ngDefaultControl type="submit" [disabled]="formModificacion.invalid"
      class="col-md-4 btn btn-primary font-weight-bold">
      Modificar
    </button>

  </div>
</form>
