<form #formRegistro="ngForm" novalidate (ngSubmit)="registro()"
  class="shadow col-lg-11 col-12 mx-auto my-5 py-3 px-3 px-lg-5 border border-dark border-1">
  <h2 class="text-center mb-4">Añadir parking</h2>
  <fieldset>
    <legend>Datos del parking:</legend>
    <div class="form-group row">
      <div class="col-md-3">
        <label for="nombreModel">Nombre</label>
        <input type="text" class="form-control" pattern="^[a-zA-ZÀ-ž ]{1,20}$" required [(ngModel)]="parking.nombre"
          name="nombre" #nombreModel="ngModel" [ngClass]="{
          'is-valid': nombreModel.touched && nombreModel.valid,
          'is-invalid': nombreModel.touched && !nombreModel.valid
        }" />
        <div *ngIf="nombreModel.touched && nombreModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca un nombre correcto.</small>
        </div>
      </div>

      <div class="col-md-7">
        <label for="direccion">Dirección</label><input type="text" class="form-control" id="direccion" required
          [(ngModel)]="parking.direccion" pattern="^[a-zA-ZÀ-ž ]{1,60}$" name="direccion" #direccionModel="ngModel"
          [ngClass]="{
          'is-valid': direccionModel.touched && direccionModel.valid,
          'is-invalid': direccionModel.touched && !direccionModel.valid
        }" />
        <div *ngIf="direccionModel.touched && direccionModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca una dirección correcta.</small>
        </div>
      </div>
      <div class="col-md-2">
        <label for="numero">Núm.</label><input type="number" class="form-control" id="numero"
          [(ngModel)]="parking.numero" name="numero" #numeroModel="ngModel" [ngClass]="{
          'is-valid': numeroModel.touched && numeroModel.valid,
          'is-invalid': numeroModel.touched && !numeroModel.valid
        }" />
        <div *ngIf="numeroModel.touched && numeroModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca un número correcto.</small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-5">
        <label for="poblacion">Población</label><input type="text" class="form-control" id="poblacion" required
          [(ngModel)]="parking.poblacion" pattern="^[a-zA-ZÀ-ž ]{1,30}$" name="poblacion" #poblacionModel="ngModel"
          [ngClass]="{
          'is-valid': poblacionModel.touched && poblacionModel.valid,
          'is-invalid': poblacionModel.touched && !poblacionModel.valid
        }" />
        <div *ngIf="poblacionModel.touched && poblacionModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca una población correcta.</small>
        </div>
      </div>
      <div class="col-md-4">
        <label for="provincia">Provincia</label><input type="text" class="form-control" id="provincia" required
          [(ngModel)]="parking.provincia" pattern="^[a-zA-ZÀ-ž ]{1,30}$" name="provincia" #provinciaModel="ngModel"
          [ngClass]="{
          'is-valid': provinciaModel.touched && provinciaModel.valid,
          'is-invalid': provinciaModel.touched && !provinciaModel.valid
        }" />
        <div *ngIf="provinciaModel.touched && provinciaModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca una provincia correcta.</small>
        </div>
      </div>
      <div class="col-md-3">
        <label for="codigopostal">Cód. Postal</label><input type="text" class="form-control" id="codigopostal" required
          [(ngModel)]="parking.codigopostal" pattern="^((0[1-9]|5[0-2])|[1-4][0-9])[0-9]{3}$" name="codigopostal"
          #codigopostalModel="ngModel" [ngClass]="{
          'is-valid': codigopostalModel.touched && codigopostalModel.valid,
          'is-invalid': codigopostalModel.touched && !codigopostalModel.valid
        }" />
        <div *ngIf="codigopostalModel.touched && codigopostalModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca un código postal correcto.</small>
        </div>
      </div>
    </div>
    <div class="form-group row">


      <div class="col-md-3">
        <label for="telefono">Teléfono</label><input type="tel" class="form-control" id="telefono" required
          [(ngModel)]="parking.tel" name="telefono" pattern="[6,7,9]{1}[0-9]{8}" #telefonoModel="ngModel" [ngClass]="{
          'is-valid': telefonoModel.touched && telefonoModel.valid,
          'is-invalid': telefonoModel.touched && !telefonoModel.valid
        }" />
        <div *ngIf="telefonoModel.touched && telefonoModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca un teléfono correcto.</small>
        </div>
      </div>

      <div class="col-md-4">
        <label for="web">Sitio web</label>
        <input type="text" class="form-control" id="web" pattern="^https?:\/\/[\w\-]+(\.[\w\-]+)+[/#?]?.*$" required
          [(ngModel)]="parking.web" name="web" #webModel="ngModel" [ngClass]="{
            'is-valid': webModel.touched && webModel.valid,
            'is-invalid': webModel.touched && !webModel.valid
          }" />
        <div *ngIf="webModel.touched && webModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca una web correcta.</small>
        </div>
      </div>


      <div class="col-md-5">
        <label for="email">Correo Electrónico</label><input type="text" class="form-control" id="email" required
          [(ngModel)]="parking.correo" pattern="^[\w\.\-]+@\w+\.\D{2,3}$" name="email" #emailModel="ngModel" [ngClass]="{
          'is-valid': emailModel.touched && emailModel.valid,
          'is-invalid': emailModel.touched && !emailModel.valid
        }" />
        <div *ngIf="emailModel.touched && emailModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca un correo electrónico correcto.</small>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-3">
        <label for="aperturaModel">Hora apertura</label>
        <input type="time" class="form-control" id="aperturaModel" name="aperturaModel" required
          ngModel="parking.apertura" (change)="cambioFecha($event)" #aperturaModel="ngModel" [ngClass]="{
        'is-valid': aperturaModel.touched && aperturaModel.valid,
        'is-invalid': aperturaModel.touched && !aperturaModel.valid
      }" />
        <div *ngIf="aperturaModel.touched && aperturaModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca una hora correcta.</small>
        </div>
      </div>
      <div class="col-md-3">
        <label for="cierreModel">Hora cierre</label>
        <input type="time" class="form-control" id="cierreModel" name="cierreModel" required ngModel="parking.cierre"
          (change)="cambioFecha($event)" #cierreModel="ngModel" [ngClass]="{
        'is-valid': cierreModel.touched && cierreModel.valid,
        'is-invalid': cierreModel.touched && !cierreModel.valid
      }" />
        <div *ngIf="cierreModel.touched && cierreModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca una hora correcta.</small>
        </div>
      </div>
      <div class="col-md-4">
        <label for="estadoModel">Estado al cierre:</label>
        <select class="form-control" required [(ngModel)]="parking.estadocierre" name="estadoModel"
          #estadoModel="ngModel" [ngClass]="{
          'is-valid': estadoModel.touched && estadoModel.valid,
          'is-invalid': estadoModel.touched && !estadoModel.valid
        }">
          <option value="Cerrado" selected="selected">Cerrado</option>
          <option value="Público">Público</option>
        </select>
        <div *ngIf="estadoModel.touched && estadoModel.invalid" class="alert alert-danger">
          <small>Por favor, escoja un estado correcto.</small>
        </div>
      </div>
    </div>
  </fieldset>


  <fieldset class="mt-3">
    <legend>Datos de tarifas:</legend>
    <div class="form-group row justify-content-between">
      <div class="col-md-2">
        <label for="ppminuto">PP/minuto</label>
        <input type="number" placeholder="0.00" class="form-control" #ppminutoModel="ngModel" required name="ppminuto"
          [(ngModel)]="parking.preciomin" min="0" value="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" [ngClass]="{
          'is-valid': ppminutoModel.touched && ppminutoModel.valid,
          'is-invalid': ppminutoModel.touched && !ppminutoModel.valid
        }" />
        <div *ngIf="ppminutoModel.touched && ppminutoModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca un precio por minuto correcto.</small>
        </div>
      </div>

      <div class="col-md-3">
        <label for="ppmediahora">PP/media hora</label>
        <input type="number" placeholder="0.00" class="form-control" #ppmediahoraModel="ngModel" required
          name="ppmediahora" [(ngModel)]="parking.preciomedh" min="0" value="0" step="0.01"
          pattern="^\d+(?:\.\d{1,2})?$" [ngClass]="{
          'is-valid': ppmediahoraModel.touched && ppmediahoraModel.valid,
          'is-invalid': ppmediahoraModel.touched && !ppmediahoraModel.valid
        }" />
        <div *ngIf="ppmediahoraModel.touched && ppmediahoraModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca un precio por media hora correcto.</small>
        </div>
      </div>


      <div class="col-md-2">
        <label for="pphora">PP/hora</label>
        <input type="number" placeholder="0.00" class="form-control" #pphoraModel="ngModel" required name="pphora"
          [(ngModel)]="parking.precioh" min="0" value="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" [ngClass]="{
          'is-valid': pphoraModel.touched && pphoraModel.valid,
          'is-invalid': pphoraModel.touched && !pphoraModel.valid
        }" />
        <div *ngIf="pphoraModel.touched && pphoraModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca un precio por hora correcto.</small>
        </div>
      </div>


      <div class="col-md-2">
        <label for="ppdia">PP/día</label>
        <input type="number" placeholder="0.00" class="form-control" #ppdiaModel="ngModel" required name="ppdia"
          [(ngModel)]="parking.preciodia" min="0" value="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" [ngClass]="{
          'is-valid': ppdiaModel.touched && ppdiaModel.valid,
          'is-invalid': ppdiaModel.touched && !ppdiaModel.valid
        }" />
        <div *ngIf="ppdiaModel.touched && ppdiaModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca un precio por día correcto.</small>
        </div>
      </div>


      <div class="col-md-3">
        <label for="ppmaxdia">P. Máx. Día</label>
        <input type="number" placeholder="0.00" class="form-control" #ppmaxdiaModel="ngModel" required name="ppmaxdia"
          [(ngModel)]="parking.preciomaxd" min="0" value="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" [ngClass]="{
          'is-valid': ppmaxdiaModel.touched && ppmaxdiaModel.valid,
          'is-invalid': ppmaxdiaModel.touched && !ppmaxdiaModel.valid
        }" />
        <div *ngIf="ppmaxdiaModel.touched && ppmaxdiaModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca un precio correcto.</small>
        </div>
      </div>
    </div>

  </fieldset>

  <div class="col-12 text-center mt-4">
    <button name="button" ngDefaultControl ngModel #buttonModel="ngModel" type="submit"
      [disabled]="formRegistro.invalid" class="col-md-4 btn btn-primary font-weight-bold">
      Registrar
    </button>
  </div>

</form>
