<div class="container">
  <div class="row">
    <form (ngSubmit)="login()" #formLogin="ngForm" novalidate
      class="shadow col-lg-6 col-md-9 col-11 mx-auto my-5 p-5 offset-6 border border-dark border-1">
      <h1 class="text-center mb-4">Inicia sesión</h1>
      <div class="form-group col-12 col-md-10 mx-auto">
        <label for="email">Email</label>
        <input required type="text" class="form-control" name="email" pattern="^[\w\.\-]+@\w+\.\D{2,3}$"
          [(ngModel)]="email" #emailModel="ngModel" [ngClass]="{
            'is-valid': emailModel.touched && emailModel.valid,
            'is-invalid': emailModel.touched && !emailModel.valid
          }" />
        <div *ngIf="emailModel.touched && emailModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca un correo electrónico correcto.</small>
        </div>
      </div>
      <div class="form-group col-12 col-md-10 mx-auto">
        <label for="pass">Contraseña</label>
        <input required type="password" pattern="^[\w]{6,}$" class="form-control" name="pass" [(ngModel)]="pass"
          #passModel="ngModel" [ngClass]="{
            'is-valid': passModel.touched && passModel.valid,
            'is-invalid': passModel.touched && !passModel.valid
          }" />
        <div *ngIf="passModel.touched && passModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca una contraseña correcta.</small>
        </div>
      </div>
      <div class="form-group mt-5 col-10 col-md-6 mx-auto">
        <button type="submit" class="form-control btn-primary font-weight-bold" id="enviar"
          [disabled]="formLogin.invalid">
          Entrar
        </button>

      </div>
      <div class="col-12 text-center">
        <span class="text-center">¿Aún no tienes una cuenta?
          <a [routerLink]="['/registro']">Regístrate</a></span>
      </div>
    </form>
  </div>
</div>
