<div class="container form-busq my-5 mx-auto shadow ">
  <div class="row justify-content-center pt-4">
    <div class="col-md-10 mx-auto">
      <h2 class="text-center mb-4">Añadir plaza</h2>
    </div>
  </div>
  <div class="row justify-content-center align-content-lg-around mt-2 mb-3">
    <div id="form-busq" class="col-md-8 col-12 form-busq py-4">
      <div class="col-12 text-center">
        <label class="font-weight-bold">1º Elige el parking</label>
      </div>
      <div class="col-12">

        <div class="row justify-content-center mt-1">
          <div class="col-md-3 text-md-right ">
            <label class="font-weight-bold" for="parking">Parking:</label>
          </div>
          <div class="col-md-8">
            <select name="parking" id="parking" class="form-control" [(ngModel)]="idparking">
              <option selected value="0">Seleccione un parking...</option>
              <option *ngFor="let parking of parkings; index as i" value="{{parking.idparking}}">{{parking.idparking}} -
                {{parking.nombre}}</option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <form #formRegistro="ngForm" novalidate (ngSubmit)="registro()"
      class="col-11 mx-auto my-5 p-3 px-5 border border-dark border-1">
      <div class="row">
        <div class="col-12">
          <p class="text-justify">En este momento puedes crear plazas de una en una o bien puedes indicar el número de
            plazas que quieres crear y se crearán con los datos que indiques como modelo. Si en la casilla de código
            introduces "1", este campo se autocompletará con números correlativos en cada una de las plazas. </p>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 col-lg-2">
          <label for="planta">Planta</label>
          <input type="text" class="form-control" pattern="^[0-9]$" [(ngModel)]="planta" name="planta"
            #plantaModel="ngModel" [ngClass]="{
              'is-valid': plantaModel.touched && plantaModel.valid,
              'is-invalid': plantaModel.touched && !plantaModel.valid
            }" />
          <div *ngIf="plantaModel.touched && plantaModel.invalid" class="alert alert-danger">
            <small>Por favor, introduzca un número de planta correcto.</small>
          </div>

        </div>

        <div class="col-md-3">
          <label for="codigo">Código</label>
          <input type="text" class="form-control" pattern="^[\w]{1,4}$" id="codigo" required [(ngModel)]="codigo"
            name="codigo" #codigoModel="ngModel" [ngClass]="{
              'is-valid': codigoModel.touched && codigoModel.valid,
              'is-invalid': codigoModel.touched && !codigoModel.valid
            }" />
          <div *ngIf="codigoModel.touched && codigoModel.invalid" class="alert alert-danger">
            <small>Por favor, introduzca un código correcto.</small>
          </div>
        </div>

        <div class="col-md-4 col-lg-3">
          <label for="longitud">Longitud</label>

          <input type="number" placeholder="0" class="form-control" step="0.01" pattern="^-?\d+(?:\.\d{1,20})?$"
            id="longitud" [(ngModel)]="longitud" name="longitud" #longitudModel="ngModel" required [ngClass]="{
          'is-valid': longitudModel.touched && longitudModel.valid,
          'is-invalid': longitudModel.touched && !longitudModel.valid
        }" />
          <div *ngIf="longitudModel.touched && longitudModel.invalid" class="alert alert-danger">
            <small>Por favor, introduzca una longitud correcta.</small>
          </div>
        </div>

        <div class="col-md-4 col-lg-3">
          <label for="anchura">Latitud</label>
          <input type="number" placeholder="0" class="form-control" step="0.01" required pattern="^-?\d+(?:\.\d{1,20})?$"
            id="anchura" [(ngModel)]="latitud" name="latitud" #anchuraModel="ngModel" [ngClass]="{
          'is-valid': anchuraModel.touched && anchuraModel.valid,
          'is-invalid': anchuraModel.touched && !anchuraModel.valid
        }" />
          <div *ngIf="anchuraModel.touched && anchuraModel.invalid" class="alert alert-danger">
            <small>Por favor, introduzca una anchura correcta.</small>
          </div>
        </div>

        <div class="col mt-md-3 mx-md-auto">
          <div class="row justify-content-center">
            <label for="tipoPlaza">Tipo de plaza</label>
          </div>
          <div class="d-flex flex-row align-items-center justify-content-center">

            <input type="radio" value="Normal" required name="tipoPlaza" checked="true" [(ngModel)]="tipoPlaza"
              name="tipoPlaza" #tipoPlazaModel="ngModel" [ngClass]="{
              'is-valid': tipoPlazaModel.touched && tipoPlazaModel.valid,
              'is-invalid': tipoPlazaModel.touched && !tipoPlazaModel.valid
            }" /> Normal
            <input class="ml-2" type="radio" value="Discapacitados" required name="tipoPlaza" [(ngModel)]="tipoPlaza"
              name="tipoPlaza" #tipoPlazaModel="ngModel" [ngClass]="{
              'is-valid': tipoPlazaModel.touched && tipoPlazaModel.valid,
              'is-invalid': tipoPlazaModel.touched && !tipoPlazaModel.valid
            }" /> Discapacitados
            <input class="ml-2" type="radio" value="Eléctricos" required name="tipoPlaza" [(ngModel)]="tipoPlaza"
              name="tipoPlaza" #tipoPlazaModel="ngModel" [ngClass]="{
              'is-valid': tipoPlazaModel.touched && tipoPlazaModel.valid,
              'is-invalid': tipoPlazaModel.touched && !tipoPlazaModel.valid
            }" /> Eléctricos
          </div>
          <div *ngIf="tipoPlazaModel.touched && tipoPlazaModel.invalid" class="alert alert-danger">
            <small>Por favor, elige un tipo de plaza.</small>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-3 text-center">
          <label for="anchura">Nº Plazas a crear</label>
          <input type="number" placeholder="1" class="form-control" min="0" value="1" step="1" id="numPlazas"
            [(ngModel)]="numPlazas" name="numPlazas" #numPlazasModel="ngModel" [ngClass]="{
          'is-valid': numPlazasModel.touched && numPlazasModel.valid,
          'is-invalid': numPlazasModel.touched && !numPlazasModel.valid
        }" />
          <div *ngIf="numPlazasModel.touched && numPlazasModel.invalid" class="alert alert-danger">
            <small>Por favor, introduzca un nº de plazas correcto.</small>
          </div>
        </div>
      </div>
      <div class="col-12 text-center mt-4">
        <button name="button" ngDefaultControl ngModel #buttonModel="ngModel" type="submit"
          [disabled]="formRegistro.invalid" class="col-md-4 btn btn-primary font-weight-bold">
          Registrar
        </button>
      </div>

    </form>
  </div>
</div>
