<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-10 mx-auto mt-4">
      <h1 class="text-center">Lista de parkings</h1>
    </div>
  </div>
  <div class="row justify-content-center align-items-center mt-3">
    <div class="col-9 col-md-3 col-lg-2 text-center text-md-right">
      <label class="mb-0 font-weight-bold" for="busca">Buscar por id:</label>

    </div>
    <div class="col-9 col-sm-5 col-md-3 col-lg-2 p-0">
      <input type="search" name="busca" id="busca" class="form-control" placeholder="Teclee un id..."
        [(ngModel)]="campoBusqueda" (input)="busqueda($event.target.value)">
      <small id="errorId" *ngIf="errorId">El id ha de ser numérico</small>
    </div>
  </div>
  <!--   <div class="row justify-content-center align-content-around mt-5 mb-3">
    <div id="form-busq" class="col-lg-4 col-md-6 col-12 form-busq py-4 px-0 px-lg-auto">
      <div class="col-12 text-center">
        <label class="font-weight-bold">Datos del parking para filtrar</label>
      </div>
      <div class="col-12">
        <div class="row flex-md-row flex-column justify-content-center mt-3">
          <div class="col-md-3 text-md-right ">
            <label class="font-weight-bold" for="provincia">Província:</label>
          </div>
          <div class="col-md-6">
            <select name="provincia" id="provincia" class="form-control" [(ngModel)]="provincia">
            </select>
          </div>
        </div>
        <div class="row justify-content-center mt-1">
          <div class="col-md-3 text-md-right ">
            <label class="font-weight-bold" for="poblacion">Población:</label>
          </div>
          <div class="col-md-6">
            <select name="poblacion" id="poblacion" class="form-control" [(ngModel)]="poblacion">
            </select>
          </div>
        </div>
        <div class="row justify-content-center mt-1">
          <div class="col-md-3 text-md-right ">
            <label class="font-weight-bold" for="direccion">Dirección:</label>
          </div>
          <div class="col-md-6">
            <select name="direccion" id="direccion" class="form-control" [(ngModel)]="direccion">
            </select>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-md-5 col-lg-3 col-12 ml-md-2 ml-lg-5 form-busq mt-2 mt-md-0 mx-auto mx-md-0 mt-md-0 p-lg-4 p-2 align-self-center">
      <div class="col-12 text-center">
        <label for="busca" class="font-weight-bold">Buscar el parking por id:</label>
      </div>
      <div class="col-12">
        <input type="search" name="busca" id="busca" class="form-control" placeholder="Teclee un id..."
          [(ngModel)]="campoBusqueda" (input)="busqueda($event.target.value)">
        <small id="errorId" *ngIf="errorId">El id ha de ser numérico</small>
      </div>
    </div>

  </div> -->
  <div *ngIf="cargando" class="text-center" style="padding-top: 60px;">
    <div class="spinner-border text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row mt-4" *ngIf="!noresultados && parkings.length > 0">
    <div class="col-11 mx-auto">
      <div class="table-responsive">

        <table class="table table-bordered table-striped table-hover table-sm text-center">
          <thead class="bg-light">
            <tr class="filters">
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Dirección</th>
              <th scope="col">Población</th>
              <th scope="col">Código Postal</th>
              <th scope="col">&nbsp;</th>
              <th scope="col">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let parking of parkings | paginate: { itemsPerPage: 5, currentPage: page }">
              <td class="align-middle" scope="row">{{ parking.idparking }}</td>
              <td class="align-middle">{{ parking.nombre}}</td>
              <td class="align-middle">{{ parking.direccion }}</td>
              <td class="align-middle">{{ parking.poblacion }}</td>
              <td class="align-middle">{{ parking.codigopostal }}</td>
              <td class="align-middle"><a class="btn" [routerLink]="['/admin/editarparking', parking.idparking]"><i
                    class="bi bi-pencil-square text-success"></i>
                </a></td>
              <td class="align-middle"><a class="btn" (click)="eliminar(parking.idparking)"><i
                    class="bi bi-trash-fill text-primary"></i></a></td>
            </tr>
          </tbody>
        </table>
        <div class="text-center mt-4">

          <pagination-controls (pageChange)="page = $event" maxSize="9" responsive="true" previousLabel="Previous"
            nextLabel="Next">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="noresultados" class="text-center mt-5">
    <p>No existe ninguna coincidencia</p>
  </div>
</div>
