<form #formRegistro="ngForm" novalidate (ngSubmit)="registro()"
  class="shadow col-lg-11 col-12 mx-auto my-5 py-3 px-3 px-lg-5 border border-dark border-1">
  <h2 class="text-center mb-4">Añadir Artículo</h2>
  <div class="form-group row">

    <div class="col-md-10 mx-auto">
      <label for="titulo">Título</label>
      <input type="text" class="form-control" id="pregunta" required [(ngModel)]="articulo.titulo" name="titulo"
        #tituloModel="ngModel" [ngClass]="{
        'is-valid': tituloModel.touched && tituloModel.valid,
        'is-invalid': tituloModel.touched && !tituloModel.valid
      }" />
      <div *ngIf="tituloModel.touched && tituloModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca un título correcto.</small>
      </div>
    </div>
    <div class="col-md-10 mx-auto mt-4">
      <label for="image">Imagen portada</label>
      <input type="file" accept="image/*" class="form-control border-0" name="image" #fileImage ngModel
        (change)="changeImage(fileImage)" placeholder="Enter image">
    </div>
    <div class="col-md-10 mx-auto mt-4">
      <label for="contenido">Contenido</label>
      <textarea class="form-control" id="contenido" required [(ngModel)]="articulo.contenido" name="contenido"
        #contenidoModel="ngModel" [ngClass]="{
        'is-valid': contenidoModel.touched && contenidoModel.valid,
        'is-invalid': contenidoModel.touched && !contenidoModel.valid
      }"></textarea>
      <div *ngIf="contenidoModel.touched && contenidoModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca un contenido correcto.</small>
      </div>
    </div>
  </div>
  <div class="col-12 text-center mt-4">
    <button name="button" ngDefaultControl ngModel #buttonModel="ngModel" type="submit"
      [disabled]="formRegistro.invalid" class="col-md-4 btn btn-primary font-weight-bold">
      Registrar
    </button>
  </div>

</form>
