<div id="footer" class="container-fluid bg-dark">
  <div class="container pb-0 pt-5">
    <div class="row text-center text-md-left justify-content-center justify-content-md-around flex-column flex-md-row">
      <div class="col-12 col-sm-2 col-md-3 mx-auto mt-2">
        <h6 class="text-light font-weight-bold"><u>Soporte</u></h6>
        <ul class="list-unstyled">
          <li>
            <small><a class="text-light" [routerLink]="['/aviso']">Aviso Legal</a></small>
          </li>
          <li>
            <small><a class="text-light" [routerLink]="['/cookies']">Política de cookies</a></small>
          </li>
          <li>
            <small>
              <a class="text-light" [routerLink]="['/privacidad']">Política de privacidad</a></small>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-2 col-md-3 mx-auto mt-2">
        <h6 class="text-light font-weight-bold"><u>Redes Sociales</u></h6>

        <span class="d-inline-block mr-2"><a class="text-light" target="_blank"
            href="https://www.instagram.com/carking_espana/"><i class="bi bi-instagram"></i></a></span>
        <span class="d-inline-block mr-2"><a class="text-light" target="_blank"
            href="https://www.facebook.com/profile.php?id=100068566159976"><i class="bi bi-facebook"></i></a></span>
        <span class="d-inline-block mr-2"><a class="text-light d-inline-block" target="_blank"
            href="https://www.youtube.com/channel/UCt6pydVXBP3oVonDpXpyipA"><i class="bi bi-youtube"></i></a></span>
        <h6 class="text-light mt-4 mt-md-1"><u>Contacto</u></h6>
        <span class="d-inline-block mr-2"><a class="text-light" href="tel:+34647060281"><i
              class="bi bi-telephone"></i></a></span>
        <span class="d-inline-block mr-2"><a class="text-light" [routerLink]="['/contacto']"><i
              class="bi bi-envelope"></i></a></span>
      </div>
      <div class="col-12 col-sm-4 col-md-3 mx-auto mt-4 mt-md-2">
        <h6 class="text-light font-weight-bold"><u>Ubicación</u></h6>
        <ul class="list-unstyled">
          <li>
            <small class="text-light">Dirección:</small>
          </li>
          <li>
            <small class="text-light">&nbsp;Calle Arnedo 6, Vª Fase 5ºG</small>
          </li>
          <li>
            <small class="text-light">&nbsp;03502 Benidorm (Alicante)</small>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <p class="text-light text-center">
          ©<small>{{ fecha | date: "yyyy" }} Carking S.L</small>
        </p>
      </div>
    </div>
  </div>
</div>
