<div class="container p-5 text-justify">
  <h1 class="text-center">PRIVACIDAD</h1>
  <br><br>
  <p>
    Responsable – ¿quién es el responsable del tratamiento de los datos?<br><br>
    <br>Identidad: Carking SL
    <br>Domicilio social: Calle Arnedo nº6
    <br>DNI: 48338052X
    <br>Teléfono: 647060281
    <br>Correo Electrónico: carkingespana@gmail.com
    <br>Contacto: Jesús García Algarra
    <br>Nombre del dominio: https://carking.com<br><br>
    <br>Finalidades – ¿con qué finalidades tratamos tus datos?<br><br>

    En cumplimiento de lo dispuesto en el Reglamento Europeo 2016/679 General de Protección de Datos, te informamos de
    que trataremos los datos que nos facilitas para:<br><br>

    Gestionar la contratación de servicios que realice a través de la Plataforma, así como la facturación y entrega
    correspondiente.<br>
    Remitir periódicamente comunicaciones sobre servicios, eventos y noticias relacionadas con las actividades
    desarrolladas por Carking SL, por cualquier medio (teléfono, correo postal o email), salvo que se indique lo
    contrario o el usuario se oponga o revoque su consentimiento.
    <br>Remitir información comercial y / o promocional relacionada con el sector de servicios contratados y valor
    añadido para usuarios finales, salvo que se indique lo contrario o el usuario se oponga o revoque su consentimiento.
    <br>Dar cumplimiento a las obligaciones legalmente establecidas, así como verificar el cumplimiento de las
    obligaciones contractuales, incluía la prevención de fraude.
    <br>Cesión de datos a organismos y autoridades, siempre y cuando sean requeridos de conformidad con las
    disposiciones legales y reglamentarias.

    Categorías de datos – ¿Qué datos tratamos?<br><br>

    Derivada de las finalidades antes mencionadas, en Carking SL gestionamos las siguientes categorías de datos:<br><br>

    Datos identificativos
    <br>Metadatos de comunicaciones electrónicas
    <br>Datos de información comercial. En caso de que el usuario facilite datos de terceros, manifiesta contar con el
    consentimiento de estos y se compromete a trasladarle la información contenida en esta cláusula, eximiendo a Carking
    SL de cualquier responsabilidad en este sentido.
    <br>No obstante, Carking SL podrá llevar a cabo las verificaciones para constatar este hecho, adoptando las medidas
    de diligencia debida que correspondan, conforme a la normativa de protección de datos.
    <br><br>
    Legitimación – ¿cuál es la legitimación para el tratamiento de tus datos?<br><br>

    El tratamiento de datos cuyo fin es el envío de boletines periódicos (newslettering) sobre servicios, eventos y
    noticias relacionadas con nuestra actividad profesional se basa en el consentimiento del interesado, solicitado
    expresamente para llevar a cabo dichos tratamientos, de acuerdo con la normativa vigente.
    Además, la legitimación para el tratamiento de los datos relacionados con ofertas o colaboraciones se basan en el
    consentimiento del usuario que remite sus datos, que puede retirar en cualquier momento, si bien ello puede afectar
    a la posible comunicación de forma fluida y obstrucción de procesos que desea realizar.
    Por último, los datos se podrán utilizar para dar cumplimiento a las obligaciones legales aplicables a Carking
    SL<br><br>
    Plazo de Conservación de los Datos – ¿Por cuánto tiempo conservaremos tus datos?<br><br>

    Carking SL conservará los datos personales de los usuarios únicamente durante el tiempo necesario para la
    realización de las finalidades para las que fueron recogidos, mientras no revoque los consentimientos otorgados.
    Posteriormente, en caso de ser necesario, mantendrá la información bloqueada durante los plazos legalmente
    establecidos.
    <br><br>Destinatarios ¿A qué destinatarios se comunicarán tus datos?<br><br>

    Tus datos podrán ser accedidos por aquellos proveedores que prestan servicios a Carking SL, tales como servicios de
    alojamiento, herramientas de marketing y sistemas de contenido u otros profesionales, cuando dicha comunicación sea
    necesaria normativamente, o para la ejecución de los servicios contratados.

    <br><br>Carking SL, ha suscrito los correspondientes contratos de encargo de tratamiento con cada uno de los
    proveedores que prestan servicios a Carking SL, con el objetivo de garantizar que dichos proveedores tratarán tus
    datos de conformidad con lo establecido en la legislación vigente.

    <br><br>También podrán ser cedidos a las Fuerzas y Cuerpos de Seguridad del Estado en los casos que exista una
    obligación legal.

    Bancos y entidades financieras, para el cobro de los servicios.
    <br>Administraciones públicas con competencia en los sectores de actividad, cuando así lo establezca la normativa
    vigente.
    <br>Seguridad de la Información – ¿Qué medidas de seguridad implantamos para cuidar sus datos?

    Para proteger las diferentes tipologías de datos reflejados en esta política de privacidad llevará a cabo las
    medidas de seguridad técnicas necesarias para evitar su pérdida, manipulación, difusión o alteración.

    <br><br>Encriptación de las comunicaciones entre el dispositivo del usuario y los servidores de Carking SL
    <br>Encriptación de la información en los propios servidores de Carking SL
    <br>Otras medidas que eviten el acceso a los datos del usuario por parte de terceros.
    <br>En aquellos casos en los que Carking SL cuente con prestadores de servicio para el mantenimiento de la
    plataforma que se encuentren fuera de la Unión Europea, estas trasferencias internacionales se hayan regularizadas
    atendiendo al compromiso de Carking SL con la protección, integridad y seguridad de los datos personales de los
    usuarios.

    <br><br> Derechos – ¿Cuáles son tus derechos cuando nos facilitas tus datos y cómo puedes ejercerlos?

    <br><br>Tienes derecho a obtener confirmación sobre si en Carking SL estamos tratando datos personales que te
    conciernan, o no.
    <br><br>Asimismo, tienes derecho a acceder a tus datos personales, así como a solicitar la rectificación de los
    datos inexactos o, en su caso, solicitar su supresión cuando, entre otros motivos, los datos ya no sean necesarios
    para los fines que fueron recogidos.

    <br><br>En determinadas circunstancias, podrás solicitar la limitación del tratamiento de tus datos, en cuyo caso
    únicamente los conservaremos para el ejercicio o la defensa de reclamaciones.
    <br><br>En determinadas circunstancias y por motivos relacionados con tu situación particular, podrás oponerte al
    tratamiento de tus datos. Carking SL dejará de tratar los datos, salvo por motivos legítimos imperiosos, o el
    ejercicio o la defensa de posibles reclamaciones.

    <br><br>Asimismo, puedes ejercer el derecho a la portabilidad de los datos, así como retirar los consentimientos
    facilitados en cualquier momento, sin que ello afecte a la licitud del tratamiento basado en el consentimiento
    previo a su retirada.

    <br><br>Si deseas hacer uso de cualquiera de tus derechos puede dirigirse a carkingespana@gmail.com.

    <br><br>Por último, te informamos que puedes dirigirte ante la Agencia Española de Protección de Datos y demás
    organismos públicos competentes para cualquier reclamación derivada del tratamiento de tus datos personales.
    <br><br> Modificación de la política de privacidad

    <br><br>Carking SL podrá modificar la presente Política de Privacidad en cualquier momento, siendo publicadas las
    sucesivas versiones en el Sitio Web. En cualquier caso, Carking SL comunicará con previo aviso las modificaciones de
    la presente política que afecten a los usuarios a fin de que puedan aceptar las mismas.

    <br><br>La presente Política de Privacidad se encuentra actualizada a fecha 27/12/2018 Carking SL (España).
    Reservados todos los derechos.

    <br><br>Si lo deseas también puedes consultar nuestra Política de Cookies
  </p>
</div>
<app-footer></app-footer>
