<div class="d-flex fixed-top">

  <!-- Sidebar -->

  <nav id="sidebar" class="collapse">
    <div class="sidebar-header text-center py-4">
      <a [routerLink]="['']"><img src="../../../assets/FULL_NAME_LOGO_AdminPanel.png" alt="logo" width="200"
          height="auto"></a>
    </div>

    <ul class="list-unstyled components pl-3">
      <li class="mb-3">
        <h6 class="font-weight-bold mb-0"><i class="bi bi-person-fill">&nbsp;</i>Usuarios</h6>
        <ul class="list-unstyled components pl-4">
          <li><a [routerLinkActive]="['active']" [routerLink]="['/admin/usuarios']"><small class="text-light">Listar
                usuarios</small></a></li>
          <li><a [routerLinkActive]="['active']" [routerLink]="['/admin/addusuario']"><small class="text-light">Añadir
                nuevo</small></a></li>
        </ul>
      </li>
      <li class="mb-3">
        <h6 class="font-weight-bold mb-0"><i class="bi bi-file-ppt-fill">&nbsp;</i>Parkings</h6>
        <ul class="list-unstyled components pl-4">
          <li><a [routerLinkActive]="['active']" [routerLink]="['/admin/parkings']"><small class="text-light">Listar
                parkings</small></a></li>
          <li><a [routerLinkActive]="['active']" [routerLink]="['/admin/addparking']"><small class="text-light">Añadir
                nuevo</small></a></li>
        </ul>
      </li>
      <li class="mb-3">
        <h6 class="font-weight-bold mb-0"><i class="bi bi-geo-alt-fill">&nbsp;</i>Plazas</h6>
        <ul class="list-unstyled components pl-4">
          <li><a [routerLinkActive]="['active']" [routerLink]="['/admin/plazas']"><small class="text-light">Listar
                plazas</small></a></li>
          <li><a [routerLinkActive]="['active']" [routerLink]="['/admin/addplaza']"><small class="text-light">Añadir
                nueva</small></a></li>
        </ul>
      </li>
      <li class="mb-3">
        <h6 class="font-weight-bold mb-0"><i class="bi bi-info-circle-fill">&nbsp;</i>FAQ</h6>
        <ul class="list-unstyled components pl-4">
          <li><a [routerLinkActive]="['active']" [routerLink]="['/admin/faqs']"><small class="text-light">Listar
                FAQs</small></a></li>
          <li><a [routerLinkActive]="['active']" [routerLink]="['/admin/addfaq']"><small class="text-light">Añadir
                nueva</small></a></li>
        </ul>
      </li>
      <li class="mb-3">
        <h6 class="font-weight-bold mb-0"><i class="bi bi-journal-richtext">&nbsp;</i>Artículos</h6>
        <ul class="list-unstyled components pl-4">
          <li><a [routerLinkActive]="['active']" [routerLink]="['/admin/articulos']"><small class="text-light">Listar
                artículos</small></a></li>
          <li><a [routerLinkActive]="['active']" [routerLink]="['/admin/addarticulo']"><small class="text-light">Añadir
                nuevo</small></a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <button class="btn btn-primary align-self-start" type="button" data-toggle="collapse" data-target="#sidebar"
    aria-expanded="false" aria-controls="sidebar">
    <i class="bi bi-list navbar-toggler-icon"></i>
  </button>
</div>
