#sidebar {
  width: 250px;
  top: 0;
  left: 0;
  height: 100vh;
  background: #1B1B1B;
  color: #fff;
}

button{
  top: 10;
  left: 250;
}

button:active, button:focus,button:visited{
  outline: none !important;
   box-shadow: none;
}

.active{
  text-decoration: underline;
  color: var(--primary);
}

@media screen and (max-width: 768px) {
  #sidebar{
    overflow-y:scroll;
  }
}
