<div class="card">
  <img [src]="img" alt="{{articulo.titulo}}" class="card-img-top">
  <div class="card-body d-flex flex-column justify-content-between align-items-center">
    <h5 class="card-text font-weight-bold text-center mb-0">{{articulo.titulo}}</h5>

    <p class="text-center col-12 mt-3">
      <a [routerLink]="['\detallearticulo', articulo.idarticulo]"
        class="btn btn-outline-secondary btn-block text-dark font-weight-bold">Leer
        más</a>
    </p>
  </div>
</div>
