<app-admin-navbar></app-admin-navbar>
<div class="container-fluid">
  <div class="row justify-content-center align-content-center">
    <div class="col-12 p-2">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
