<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h1 class="font-weight-bolder text-center ">Contacto</h1>
    </div>
    <div class="col-12">
      <p class="text-center mt-3">¿Tienes alguna sugerencia? ¿No encuentras la respuesta en nuestro FAQ? Mándanos
        un mensaje y nos pondremos en contacto contigo lo antes posible.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form #formContacto="ngForm" novalidate (ngSubmit)="envio()"
        class="shadow col-lg-11 col-12 mx-auto mt-2 mb-5 px-3 py-5 px-lg-5 border border-dark border-1">
        <div class="form-group row">
          <div class="col-md-3">
            <label for="nombreModel">Nombre</label>
            <input type="text" class="form-control" required [(ngModel)]="email.nombre" pattern="^[a-zA-ZÀ-ž ]{1,20}$"
              name="nombre" #nombreModel="ngModel" [ngClass]="{
          'is-valid': nombreModel.touched && nombreModel.valid,
          'is-invalid': nombreModel.touched && !nombreModel.valid
        }" />
            <div *ngIf="nombreModel.touched && nombreModel.invalid" class="alert alert-danger">
              <small>Por favor, introduzca un nombre correcto.</small>
            </div>
          </div>
          <div class="col-md-3">
            <label for="telefono">Teléfono</label><input type="tel" class="form-control" id="telefono" required
              [(ngModel)]="email.tel" pattern="[6,7,9]{1}[0-9]{8}" name="telefono" #telefonoModel="ngModel" [ngClass]="{
                'is-valid': telefonoModel.touched && telefonoModel.valid,
                'is-invalid': telefonoModel.touched && !telefonoModel.valid
              }" />
            <div *ngIf="telefonoModel.touched && telefonoModel.invalid" class="alert alert-danger">
              <small>Por favor, introduzca un teléfono correcto.</small>
            </div>
          </div>
          <div class="col-md-6">
            <label for="email">Correo Electrónico</label><input type="email" pattern="^[\w\.\-]+@\w+\.\D{2,3}$"
              class="form-control" id="email" required [(ngModel)]="email.email" name="email" #emailModel="ngModel"
              [ngClass]="{
          'is-valid': emailModel.touched && emailModel.valid,
          'is-invalid': emailModel.touched && !emailModel.valid
        }" />
            <div *ngIf="emailModel.touched && emailModel.invalid" class="alert alert-danger">
              <small> favor, introduzca un correo electrónico correcto.</small>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-12">
            <label for="asunto">Asunto</label><input type="text" class="form-control" id="asunto" required
              [(ngModel)]="email.asunto" name="asunto" #asuntoModel="ngModel" [ngClass]="{
          'is-valid': asuntoModel.touched && asuntoModel.valid,
          'is-invalid': asuntoModel.touched && !asuntoModel.valid
        }" />
            <div *ngIf="asuntoModel.touched && asuntoModel.invalid" class="alert alert-danger">
              <small>Por favor, introduzca un asunto correcto.</small>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <label for="mensaje">Mensaje</label>
            <textarea class="form-control" id="mensaje" required [(ngModel)]="email.mensaje" name="mensaje"
              #mensajeModel="ngModel" [ngClass]="{
          'is-valid': mensajeModel.touched && mensajeModel.valid,
          'is-invalid': mensajeModel.touched && !mensajeModel.valid
        }"></textarea>
            <div *ngIf="mensajeModel.touched && mensajeModel.invalid" class="alert alert-danger">
              <small>Por favor, introduzca un mensaje correcto.</small>
            </div>
          </div>
        </div>
        <div class="col-12 text-center mt-4">
          <button name="button" ngDefaultControl type="submit" [disabled]="formContacto.invalid"
            class="col-md-4 btn btn-primary font-weight-bold">
            Enviar
          </button>
        </div>
      </form>

    </div>
  </div>
