<form #formRegistro="ngForm" novalidate (ngSubmit)="registro()"
  class="shadow col-lg-11 col-11 mx-auto my-5 px-3 px-lg-5 py-5 border border-dark border-1">
  <h2 class="text-center mb-4">Tus vehículos</h2>

  <fieldset class="mt-3" *ngIf="vehiculos">
    <div *ngFor="let vehiculo of vehiculos; index as i">
      <app-vehiculo (eliminame)="eliminarVehiculo($event)" (anyo)="actualizaVehiculo($event)" [vehiculo]="vehiculo"
        [i]="i"></app-vehiculo>
    </div>
    <div class="form-group row">
      <div class="col-md-3 text-center">
        <label>Añadir otro vehículo</label>
        <br>
        <a class="btn" id="addcar" name="addcar" (click)="addcar()"><i id="addcar"
            class="bi bi-plus-square-fill text-success"></i></a>

      </div>
    </div>
  </fieldset>
  <div class="col-12 text-center mt-4">
    <button name="button" ngDefaultControl ngModel #buttonModel="ngModel" type="submit"
      [disabled]="formRegistro.invalid" class="col-md-4 btn btn-primary font-weight-bold">
      Registrar cambios
    </button>
  </div>

</form>
