<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light font-weight-bold">
  <a class="navbar-brand" [routerLink]="['']"><img src="\assets\logo_250x83_COMPLETO.png" alt="Logo" id="logo" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item text-center">
        <a class="nav-link" [routerLink]="['']" [routerLinkActiveOptions]="{ exact: true }"
          [routerLinkActive]="['active']">Home</a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link" [routerLink]="['/ayuda']" [routerLinkActive]="['active']">Ayuda</a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link" [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a>
      </li>

      <li class="nav-item text-center" [ngClass]="{ dropdown: isLogged() }">


        <a *ngIf="isLogged()" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false" [routerLinkActive]="['active']">Área privada <i class="bi bi-person-fill"></i></a>


        <a *ngIf="!isLogged()" class="nav-link text-center" [routerLink]="['/login']"
          [routerLinkActive]="['active']">Área privada <i class="bi bi-person-fill"></i></a>



        <div *ngIf="isLogged()" class="dropdown-menu text-center dropdown">
          <h6 class="dropdown-header">Modificar perfil</h6>
          <a class="dropdown-item" role="button" [routerLink]="['modificausuario']"
            [routerLinkActive]="['active']">Datos personales</a>
          <a class="dropdown-item" role="button" [routerLink]="['vehiculos']" [routerLinkActive]="['active']">Mis
            vehículos</a>
          <div class="dropdown-divider"></div>
          <a *ngIf="this.routerService.url != '/mapa'" class="dropdown-item" role="button" [routerLink]="['mapa']">Ir al
            mapa</a>
          <div class="dropdown-divider"></div>
          <div class="dropdown-divider"></div>
          <a *ngIf="isAdmin()" class="dropdown-item" role="button" [routerLink]="['/admin/usuarios']">Dashboard</a>
          <div class="dropdown-divider"></div>

          <a class="dropdown-item" role="button" (click)="logout()">Cerrar sesión</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
