#logo {
  height: auto;
  width: 100px;
}

a.dropdown-item:active{
  color: #ffffff !important;
  background-color: var(--primary);
}

.dropdown-menu a.active{
  color:  var(--primary) !important;
  background-color: #ffffff;
}

.dropdown-header{
  color: var(--hoverPrimary);
  background-color: var(--grisClaro);
  border-bottom: 1px solid var(--grisClaro);
  font-weight: bold;
}

div.dropdown-menu{
  padding: 0;
}

.dropdown-divider{
  margin: 0;
}
