
:host{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
}

.form-busq{
  background-color: var(--white);
  border-radius: 25px;
  border: 1px solid #000000;
  padding: 15px;
}
