/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
  --primary: #ff0000;
  --hoverPrimary: #b90000;
  --grisClaro: #f4f4f4;
  --light: rgba(255, 255, 255, 0.8);
  --dark: #1b1b1b;
  font-size: 1.1em;
}

.text-primary{
  color: #ff0000 !important;
}

.bg-light {
  background-color: var(--light) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--hoverPrimary) !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.bg-grisClaro {
  background-color: var(--grisClaro);
}

.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.btn-primary:hover {
  background-color: var(--hoverPrimary) !important;
}

a,
a.nav-link.active {
  color: var(--primary) !important;
}

.navbar a {
  color: var(--dark) !important;
}

a:hover,
div.dropdown-menu a:hover {
  color: var(--hoverPrimary) !important;
}

body {
  background-color: #fbfbfb !important;
}


#errorId{
  color: var(--primary);
}
