<div class="container pb-5">
  <div class="row mt-5">
    <div class="col-12">
      <h1 class="font-weight-bolder text-center ">{{articulo.titulo}}</h1>
    </div>
    <div class="col-12 text-center mt-3">
      <h6 class="text-primary">{{articulo.fechapub | date:'fullDate'}}</h6>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <img class="offset-1 col-10" src="{{articulo.imgsrc}}">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 px-5 text-justify" [innerHTML]=articulo.contenido>
    </div>
  </div>
</div>
