form{
  background-color: var(--white);
  border-radius: 25px;
}

fieldset{
  border: 1px solid #000000;
  border-radius: 25px;
  padding: 15px;
}

legend{
  font-size: 0.8rem;
  font-weight: bold;
  width: 160px;
  padding: 2px 10px;
  text-align: center;
}

#addcar i{
  font-size: 24px;
  cursor: pointer;
}

#addcar i:hover{
  color: green !important;
}

#generar{
  cursor: pointer;
}
