<form #formRegistro="ngForm" novalidate name="form" (ngSubmit)="registro()"
  class="shadow col-lg-11 col-12 mx-auto my-5 py-3 px-3 px-lg-5 border border-dark border-1">
  <h2 class="text-center mb-4">Editar usuario</h2>
  <fieldset>
    <legend>Datos del usuario:</legend>
    <div class="form-group row">
      <div class="col-md-2 col-lg-1">
        <label>Admin</label>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch1" name="admin"
            [ngModel]="usuario.isadmin" (click)="admin($event)">
          <label class="custom-control-label" for="customSwitch1">&nbsp;</label>
        </div>

      </div>
      <div class="col-md-3">
        <label for="nombreModel">Nombre</label>
        <input type="text" class="form-control" pattern="^[a-zA-ZÀ-ž ]{1,20}$" required [(ngModel)]="usuario.nombre"
          name="nombre" #nombreModel="ngModel" [ngClass]="{
          'is-valid': nombreModel.touched && nombreModel.valid,
          'is-invalid': nombreModel.touched && !nombreModel.valid
        }" />
        <div *ngIf="nombreModel.touched && nombreModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca un nombre correcto.</small>
        </div>
      </div>

      <div class="col-md-4">
        <label for="apellidos">Apellidos</label>
        <input type="text" class="form-control" pattern="^[a-zA-ZÀ-ž ]{1,30}$" id="apellidos" required
          [(ngModel)]="usuario.apellidos" name="apellidos" #apellidosModel="ngModel" [ngClass]="{
          'is-valid': apellidosModel.touched && apellidosModel.valid,
          'is-invalid': apellidosModel.touched && !apellidosModel.valid
        }" />
        <div *ngIf="apellidosModel.touched && apellidosModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca unos apellidos correctos.</small>
        </div>
      </div>
      <div class="col-md-3">
        <label for="dni">Dni</label>
        <input type="text" class="form-control" pattern="^[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKET]$" id="dni" required
          [(ngModel)]="usuario.dni" name="dni" #dniModel="ngModel" [ngClass]="{
          'is-valid': dniModel.touched && dniModel.valid,
          'is-invalid': dniModel.touched && !dniModel.valid
        }" />
        <div *ngIf="dniModel.touched && dniModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca un dni correcto.</small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-5">
        <label for="nac">Fecha Nac.</label>
        <input type="date" class="form-control" id="nac" required [ngModel]="usuario.fechanac | date: 'yyyy-MM-dd'"
          onkeydown="return false" (change)="cambioFecha($event)" name="nac" #nacModel="ngModel" [ngClass]="{
          'is-valid': nacModel.touched && nacModel.valid,
          'is-invalid': nacModel.touched && !nacModel.valid
        }" />
        <div *ngIf="nacModel.touched && nacModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca una fecha de nacimiento correcta.</small>
        </div>
      </div>

      <div class="col-md-5">
        <label for="direccion">Dirección</label><input type="text" class="form-control" id="direccion" required
          [(ngModel)]="usuario.direccion" name="direccion" pattern="^[a-zA-ZÀ-ž ]{1,60}$" #direccionModel="ngModel"
          [ngClass]="{
          'is-valid': direccionModel.touched && direccionModel.valid,
          'is-invalid': direccionModel.touched && !direccionModel.valid
        }" />
        <div *ngIf="direccionModel.touched && direccionModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca una dirección correcta.</small>
        </div>
      </div>
      <div class="col-md-2">
        <label for="numero">Núm.</label><input type="number" class="form-control" id="numero"
          [(ngModel)]="usuario.numero" name="numero" #numeroModel="ngModel" [ngClass]="{
          'is-valid': numeroModel.touched && numeroModel.valid,
          'is-invalid': numeroModel.touched && !numeroModel.valid
        }" />
        <div *ngIf="numeroModel.touched && numeroModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca un número correcto.</small>
        </div>
      </div>
    </div>

    <div class="form-group row">


      <div class="col-md-3">
        <label for="codigopostal">Cód. Postal</label><input type="text" class="form-control" id="codigopostal" required
          [(ngModel)]="usuario.codigopostal" name="codigopostal" pattern="^((0[1-9]|5[0-2])|[1-4][0-9])[0-9]{3}$"
          #codigopostalModel="ngModel" [ngClass]="{
          'is-valid': codigopostalModel.touched && codigopostalModel.valid,
          'is-invalid': codigopostalModel.touched && !codigopostalModel.valid
        }" />
        <div *ngIf="codigopostalModel.touched && codigopostalModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca un código postal correcto.</small>
        </div>
      </div>
      <div class="col-md-5">
        <label for="poblacion">Población</label><input type="text" class="form-control" id="poblacion" required
          [(ngModel)]="usuario.poblacion" pattern="^[a-zA-ZÀ-ž ]{1,60}$" name="poblacion" #poblacionModel="ngModel"
          [ngClass]="{
          'is-valid': poblacionModel.touched && poblacionModel.valid,
          'is-invalid': poblacionModel.touched && !poblacionModel.valid
        }" />
        <div *ngIf="poblacionModel.touched && poblacionModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca una población correcta.</small>
        </div>
      </div>
      <div class="col-md-4">
        <label for="provincia">Provincia</label><input type="text" class="form-control" id="provincia" required
          [(ngModel)]="usuario.provincia" name="provincia" pattern="^[a-zA-ZÀ-ž ]{1,60}$" #provinciaModel="ngModel"
          [ngClass]="{
          'is-valid': provinciaModel.touched && provinciaModel.valid,
          'is-invalid': provinciaModel.touched && !provinciaModel.valid
        }" />
        <div *ngIf="provinciaModel.touched && provinciaModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca una provincia correcta.</small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3">
        <label for="telefono">Teléfono</label><input type="tel" class="form-control" id="telefono" required
          [(ngModel)]="usuario.tel" name="telefono" pattern="[6,7,9]{1}[0-9]{8}" #telefonoModel="ngModel" [ngClass]="{
          'is-valid': telefonoModel.touched && telefonoModel.valid,
          'is-invalid': telefonoModel.touched && !telefonoModel.valid
        }" />
        <div *ngIf="telefonoModel.touched && telefonoModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca un teléfono correcto.</small>
        </div>
      </div>
      <div class="col-md-5">
        <label for="email">Correo Electrónico</label><input type="email" pattern="^[\w\.\-]+@\w+\.\D{2,3}$"
          class="form-control" id="email" required [(ngModel)]="usuario.email" name="email" #emailModel="ngModel"
          [ngClass]="{
          'is-valid': emailModel.touched && emailModel.valid,
          'is-invalid': emailModel.touched && !emailModel.valid
        }" />
        <div *ngIf="emailModel.touched && emailModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca un correo electrónico correcto.</small>
        </div>
      </div>
      <div class="col-md-4">
        <label for="alias">Alias</label><input type="text" class="form-control" id="alias" required
          [(ngModel)]="usuario.alias" name="alias" pattern="^[a-zA-ZÀ-ž ]{1,20}$" #aliasModel="ngModel" [ngClass]="{
          'is-valid': aliasModel.touched && aliasModel.valid,
          'is-invalid': aliasModel.touched && !aliasModel.valid
        }" />
        <div *ngIf="aliasModel.touched && aliasModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca un alias correcto.</small>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
        <label for="pass">Contraseña</label><input type="text" class="form-control" id="pass" required
          [(ngModel)]="usuario.pass" name="pass" #passModel="ngModel" pattern="^[A-Za-z0-9]{6,}$" [ngClass]="{
          'is-valid': passModel.touched && passModel.valid,
          'is-invalid': passModel.touched && !passModel.valid
        }" />
        <div *ngIf="passModel.touched && passModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca una contraseña correcta.</small>
        </div>
      </div>
      <div class="col-md-6">
        <label>&nbsp;</label>
        <a class="d-block mt-2" id="generar" (click)="generarPass(8)">Generar contraseña</a>
      </div>
    </div>

  </fieldset>
  <fieldset class="mt-3">
    <legend>Datos de vehiculos:</legend>
    <div class="form-group row justify-content-center" *ngFor="let vehiculo of vehiculos;index as i">
      <div class="col-12">
        <small class="font-weight-bold">Vehículo nº {{i + 1}}</small>
      </div>
      <div class="col-md-2">
        <label for="matricula">Matrícula</label>
        <input type="text" class="form-control" [placeholder]="vehiculo.matricula" [(ngModel)]="vehiculo.matricula"
          name="matricula{{i}}" id="matricula{{i}}" #matriculaModel="ngModel" [ngClass]="{
      'is-valid': matriculaModel.touched && matriculaModel.valid,
      'is-invalid': matriculaModel.touched && !matriculaModel.valid
    }" />
        <div *ngIf="matriculaModel.touched && matriculaModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca una matrícula correcta.</small>
        </div>
      </div>

      <div class="col-md-2">
        <label for="marca">Marca</label>
        <input type="text" class="form-control" id="marca{{i}}" [placeholder]="vehiculo.marca"
          [(ngModel)]="vehiculo.marca" name="marca{{i}}" #marcaModel="ngModel" [ngClass]="{
      'is-valid': marcaModel.touched && marcaModel.valid,
      'is-invalid': marcaModel.touched && !marcaModel.valid
    }" />
        <div *ngIf="marcaModel.touched && marcaModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca una marca correcta.</small>
        </div>
      </div>

      <div class="col-md-2">
        <label for="modelo">Modelo</label>
        <input type="text" class="form-control" id="modelo{{i}}" [placeholder]="vehiculo.modelo"
          [(ngModel)]="vehiculo.modelo" name="modelo{{i}}" #modeloModel="ngModel" [ngClass]="{
      'is-valid': modeloModel.touched && modeloModel.valid,
      'is-invalid': modeloModel.touched && !modeloModel.valid
    }" />
        <div *ngIf="modeloModel.touched && modeloModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca un modelo correcto.</small>
        </div>
      </div>

      <div class="col-md-2">
        <label for="carroceria">Carroceria</label>
        <input type="text" class="form-control" id="carroceria{{i}}" [placeholder]="vehiculo.carroceria"
          [(ngModel)]="vehiculo.carroceria" name="carroceria{{i}}" #carroceriaModel="ngModel" [ngClass]="{
      'is-valid': carroceriaModel.touched && carroceriaModel.valid,
      'is-invalid': carroceriaModel.touched && !carroceriaModel.valid
    }" />
        <div *ngIf="carroceriaModel.touched && carroceriaModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca una carrocería correcta.</small>
        </div>
      </div>

      <div class="col-md-4">
        <label for="matriculacion">F. Matriculación</label>
        <input type="date" class="form-control" id="matriculacion{{i}}" [placeholder]="vehiculo.anyo"
          [ngModel]="vehiculo.anyo | date: 'yyyy-MM-dd'" (change)="cambioFechaVeh($event, vehiculo.idvehiculo)"
          name="matriculacion{{i}}" #matriculacionModel="ngModel" onkeydown="return false" [ngClass]="{
      'is-valid': matriculacionModel.touched && matriculacionModel.valid,
      'is-invalid': matriculacionModel.touched && !matriculacionModel.valid
    }" />
        <div *ngIf="matriculacionModel.touched && matriculacionModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca una fecha de matriculación correcta.</small>
        </div>
      </div>
      <div class="row align-items-end">
        <div class="col-md-1">
          <a class="btn" (click)="eliminarVehiculo(vehiculo)"><i class="bi bi-trash-fill"></i></a>
        </div>
      </div>
    </div>
    <div class="form-group row justify-content-center">
      <div class="col-md-3 text-center">
        <label>Añadir otro vehículo</label>
        <br>
        <a id="addcar" name="addcar" (click)="addcar()"><i class="bi bi-plus-square-fill text-success"></i></a>

      </div>
    </div>

  </fieldset>
  <div class="col-12 text-center mt-4">
    <button name="button" ngDefaultControl ngModel #buttonModel="ngModel" type="submit"
      class="col-md-4 btn btn-primary font-weight-bold">
      Registrar
    </button>
  </div>

</form>
