<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h1 class="font-weight-bolder text-center ">F.A.Q. (Preguntas Frecuentes)</h1>
    </div>
    <div class="col-12">
      <p class="text-center mt-3">Mira entre las siguientes preguntas con sus respectivas respuestas para solucionar tus
        dudas de una forma rápida y eficaz. Si no encuentras lo que buscas, ponte en contacto con nosotros a través de
        nuestra sección de contacto.</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <h4 class="font-weight-bolder">Preguntas populares</h4>
    </div>
    <!-- Inicio Faq -->
    <div *ngFor="let faq of faqs" class="col-12 mt-2">
      <app-faq [faq]="faq"></app-faq>
    </div>
    <!-- Fin Faq -->

  </div>
</div>
