<div class="container form-busq my-5 mx-auto shadow ">
  <div class="row justify-content-center pt-4">
    <div class="col-md-10 mx-auto">
      <h2 class="text-center mb-4">Editar plaza</h2>
    </div>
  </div>


  <form #formRegistro="ngForm" novalidate (ngSubmit)="registro()"
    class=" col-lg-11 col-11 mx-auto my-5 p-3 px-5 border border-dark border-1">
    <div class="form-group row justify-content-center">
      <div class="col-md-2 col-lg-1">
        <label for="planta">Planta</label>
        <input type="text" class="form-control" pattern="^[0-9]$" [(ngModel)]="plaza.planta" name="planta"
          #plantaModel="ngModel" [ngClass]="{
            'is-valid': plantaModel.touched && plantaModel.valid,
            'is-invalid': plantaModel.touched && !plantaModel.valid
          }" />
        <div *ngIf="plantaModel.touched && plantaModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca un número de planta correcto.</small>
        </div>

      </div>
      <div class="col-md-2 col-lg-1">
        <label for="estado">Estado</label>
        <input type="text" class="form-control" pattern="^[0-2]{1}$" required [(ngModel)]="plaza.estado" name="estado"
          #estadoModel="ngModel" [ngClass]="{
            'is-valid': estadoModel.touched && estadoModel.valid,
            'is-invalid': estadoModel.touched && !estadoModel.valid
          }" />
        <div *ngIf="estadoModel.touched && estadoModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca un estado correcto.</small>
        </div>

      </div>

      <div class="col-md-2">
        <label for="codigo">Código</label>
        <input type="text" class="form-control" id="codigo" pattern="^[\w]{4}$" required [(ngModel)]="plaza.codigo"
          name="codigo" #codigoModel="ngModel" [ngClass]="{
              'is-valid': codigoModel.touched && codigoModel.valid,
              'is-invalid': codigoModel.touched && !codigoModel.valid
            }" />
        <div *ngIf="codigoModel.touched && codigoModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca un código correcto.</small>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <label for="longitud">Longitud</label>

        <input type="number" placeholder="0" class="form-control" step="0.01" pattern="^-?\d+(?:\.\d{1,20})?$"
          id="longitud" [(ngModel)]="plaza.longitud" name="longitud" #longitudModel="ngModel" required [ngClass]="{
          'is-valid': longitudModel.touched && longitudModel.valid,
          'is-invalid': longitudModel.touched && !longitudModel.valid
        }" />
        <div *ngIf="longitudModel.touched && longitudModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca una longitud correcta.</small>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <label for="anchura">Latitud</label>
        <input type="number" placeholder="0" class="form-control" step="0.01" required pattern="^-?\d+(?:\.\d{1,20})?$"
          id="anchura" [(ngModel)]="plaza.latitud" name="latitud" #anchuraModel="ngModel" [ngClass]="{
          'is-valid': anchuraModel.touched && anchuraModel.valid,
          'is-invalid': anchuraModel.touched && !anchuraModel.valid
        }" />
        <div *ngIf="anchuraModel.touched && anchuraModel.invalid" class="alert alert-danger">
          <small>Por favor, introduzca una anchura correcta.</small>
        </div>
      </div>

      <div class="col mt-md-3 mx-md-auto">
        <div class="row justify-content-center">
          <label for="tipoPlaza">Tipo de plaza</label>
        </div>
        <div class="d-flex flex-row align-items-center justify-content-center">

          <input type="radio" value="Normal" required name="tipoPlaza" checked="true" [(ngModel)]="plaza.tipo"
            name="tipoPlaza" #tipoPlazaModel="ngModel" [ngClass]="{
              'is-valid': tipoPlazaModel.touched && tipoPlazaModel.valid,
              'is-invalid': tipoPlazaModel.touched && !tipoPlazaModel.valid
            }" /> Normal
          <input class="ml-2" type="radio" value="Discapacitados" required name="tipoPlaza" [(ngModel)]="plaza.tipo"
            name="tipoPlaza" #tipoPlazaModel="ngModel" [ngClass]="{
              'is-valid': tipoPlazaModel.touched && tipoPlazaModel.valid,
              'is-invalid': tipoPlazaModel.touched && !tipoPlazaModel.valid
            }" /> Discapacitados
          <input class="ml-2" type="radio" value="Eléctricos" required name="tipoPlaza" [(ngModel)]="plaza.tipo"
            name="tipoPlaza" #tipoPlazaModel="ngModel" [ngClass]="{
              'is-valid': tipoPlazaModel.touched && tipoPlazaModel.valid,
              'is-invalid': tipoPlazaModel.touched && !tipoPlazaModel.valid
            }" /> Eléctricos
        </div>
        <div *ngIf="tipoPlazaModel.touched && tipoPlazaModel.invalid" class="alert alert-danger">
          <small>Por favor, elige un tipo de plaza.</small>
        </div>
      </div>
    </div>

    <div class="col-12 text-center mt-4">
      <button name="button" ngDefaultControl ngModel #buttonModel="ngModel" type="submit"
        class="col-md-4 btn btn-primary font-weight-bold">
        Modificar
      </button>
    </div>

  </form>
</div>
