<form #formRegistro="ngForm" novalidate (ngSubmit)="registro()"
  class="shadow col-11 mx-auto my-5 p-5 border border-dark border-1">
  <h2 class="text-center mb-5">Registro</h2>

  <div class="form-group row">
    <div class="col-md-3">
      <label for="nombreModel">Nombre</label>
      <input type="text" class="form-control" pattern="^[a-zA-ZÀ-ž ]{1,20}$" required [(ngModel)]="usuario.nombre"
        name="nombre" #nombreModel="ngModel" [ngClass]="{
          'is-valid': nombreModel.touched && nombreModel.valid,
          'is-invalid': nombreModel.touched && !nombreModel.valid
        }" />
      <div *ngIf="nombreModel.touched && nombreModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca un nombre correcto.</small>
      </div>
    </div>

    <div class="col-md-5">
      <label for="apellidos">Apellidos</label>
      <input type="text" class="form-control" pattern="^[a-zA-ZÀ-ž ]{1,30}$" id="apellidos" required
        [(ngModel)]="usuario.apellidos" name="apellidos" #apellidosModel="ngModel" [ngClass]="{
          'is-valid': apellidosModel.touched && apellidosModel.valid,
          'is-invalid': apellidosModel.touched && !apellidosModel.valid
        }" />
      <div *ngIf="apellidosModel.touched && apellidosModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca unos apellidos correctos.</small>
      </div>
    </div>

    <div class="col-md-4">
      <label for="nac">Fecha Nac.</label>
      <input type="date" class="form-control" id="nac" required (ngModel)="usuario.fechanac" name="nac"
        (change)="cambioFecha($event)" onkeydown="return false" #nacModel="ngModel" [ngClass]="{
          'is-valid': nacModel.touched && nacModel.valid,
          'is-invalid': nacModel.touched && !nacModel.valid
        }" />
      <div *ngIf="nacModel.touched && nacModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca una fecha de nacimiento correcta.</small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3">
      <label for="dni">Dni</label>
      <input type="text" class="form-control" id="dni" required [(ngModel)]="usuario.dni"
        pattern="^[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKET]$" name="dni" #dniModel="ngModel" [ngClass]="{
          'is-valid': dniModel.touched && dniModel.valid,
          'is-invalid': dniModel.touched && !dniModel.valid
        }" />
      <div *ngIf="dniModel.touched && dniModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca un dni correcto.</small>
      </div>
    </div>
    <div class="col-md-5">
      <label for="direccion">Dirección</label><input type="text" class="form-control" id="direccion" required
        [(ngModel)]="usuario.direccion" pattern="^[a-zA-ZÀ-ž ]{1,60}$" name="direccion" #direccionModel="ngModel"
        [ngClass]="{
          'is-valid': direccionModel.touched && direccionModel.valid,
          'is-invalid': direccionModel.touched && !direccionModel.valid
        }" />
      <div *ngIf="direccionModel.touched && direccionModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca una dirección correcta.</small>
      </div>
    </div>
    <div class="col-md-1 px-md-0">
      <label for="numero">Núm.</label><input type="number" class="form-control" id="numero" [(ngModel)]="usuario.numero"
        name="numero" #numeroModel="ngModel" [ngClass]="{
          'is-valid': numeroModel.touched && numeroModel.valid,
          'is-invalid': numeroModel.touched && !numeroModel.valid
        }" />
      <div *ngIf="numeroModel.touched && numeroModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca un número correcto.</small>
      </div>
    </div>
    <div class="col-md-3">
      <label for="codigopostal">Cód. Postal</label><input type="text" pattern="^((0[1-9]|5[0-2])|[1-4][0-9])[0-9]{3}$"
        class="form-control" id="codigopostal" required [(ngModel)]="usuario.codigopostal" name="codigopostal"
        #codigopostalModel="ngModel" [ngClass]="{
          'is-valid': codigopostalModel.touched && codigopostalModel.valid,
          'is-invalid': codigopostalModel.touched && !codigopostalModel.valid
        }" />
      <div *ngIf="codigopostalModel.touched && codigopostalModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca un código postal correcto.</small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <label for="poblacion">Población</label><input type="text" class="form-control" id="poblacion" required
        [(ngModel)]="usuario.poblacion" pattern="^[a-zA-ZÀ-ž ]{1,60}$" name="poblacion" #poblacionModel="ngModel"
        [ngClass]="{
          'is-valid': poblacionModel.touched && poblacionModel.valid,
          'is-invalid': poblacionModel.touched && !poblacionModel.valid
        }" />
      <div *ngIf="poblacionModel.touched && poblacionModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca una población correcta.</small>
      </div>
    </div>
    <div class="col-md-6">
      <label for="provincia">Provincia</label><input type="text" class="form-control" id="provincia" required
        [(ngModel)]="usuario.provincia" pattern="^[a-zA-ZÀ-ž ]{1,60}$" name="provincia" #provinciaModel="ngModel"
        [ngClass]="{
          'is-valid': provinciaModel.touched && provinciaModel.valid,
          'is-invalid': provinciaModel.touched && !provinciaModel.valid
        }" />
      <div *ngIf="provinciaModel.touched && provinciaModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca una provincia correcta.</small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4">
      <label for="telefono">Teléfono</label><input type="tel" class="form-control" id="telefono" required
        [(ngModel)]="usuario.tel" name="telefono" pattern="[6,7,9]{1}[0-9]{8}" #telefonoModel="ngModel" [ngClass]="{
          'is-valid': telefonoModel.touched && telefonoModel.valid,
          'is-invalid': telefonoModel.touched && !telefonoModel.valid
        }" />
      <div *ngIf="telefonoModel.touched && telefonoModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca un teléfono correcto.</small>
      </div>
    </div>
    <div class="col-md-8">
      <label for="email">Correo Electrónico</label><input type="email" pattern="^[\w\.\-]+@\w+\.\D{2,3}$"
        class="form-control" id="email" required [(ngModel)]="usuario.email" name="email" #emailModel="ngModel"
        [ngClass]="{
          'is-valid': emailModel.touched && emailModel.valid,
          'is-invalid': emailModel.touched && !emailModel.valid
        }" />
      <div *ngIf="emailModel.touched && emailModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca un correo electrónico correcto.</small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4">
      <label for="alias">Alias</label><input type="text" class="form-control" id="alias" required
        [(ngModel)]="usuario.alias" pattern="^[a-zA-ZÀ-ž ]{1,20}$" name="alias" #aliasModel="ngModel" [ngClass]="{
          'is-valid': aliasModel.touched && aliasModel.valid,
          'is-invalid': aliasModel.touched && !aliasModel.valid
        }" />
      <div *ngIf="aliasModel.touched && aliasModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca un alias correcto.</small>
      </div>
    </div>
    <div class="col-md-4">
      <label for="pass">Contraseña</label><input type="password" class="form-control" id="pass" required
        [(ngModel)]="usuario.pass" pattern="^[A-Za-z0-9]{6,}$" name="pass" #passModel="ngModel" [ngClass]="{
          'is-valid': passModel.touched && passModel.valid,
          'is-invalid': passModel.touched && !passModel.valid
        }" />
      <div *ngIf="passModel.touched && passModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca una contraseña correcta.</small>
      </div>
    </div>
    <div class="col-md-4">
      <label for="repass">Repite contraseña</label><input type="password" class="form-control" id="repass" required
        [(ngModel)]="repass" name="repass" pattern="^[A-Za-z0-9]{6,}$" #repassModel="ngModel" [ngClass]="{
          'is-valid': repassModel.touched && repassModel.valid,
          'is-invalid': repassModel.touched && !repassModel.valid
        }" />
      <div *ngIf="repassModel.touched && repassModel.invalid" class="alert alert-danger">
        <small>Por favor, introduzca una contraseña correcta.</small>
      </div>
    </div>
  </div>
  <div class="col-12 text-center mt-4">
    <button name="button" ngDefaultControl ngModel #buttonModel="ngModel" type="submit"
      [disabled]="formRegistro.invalid" class="col-md-4 btn btn-primary font-weight-bold">
      Regístrame
    </button>

  </div>
  <div class="col-12 text-center">
    <span class="text-center">¿Ya tienes una cuenta?
      <a [routerLink]="['/login']">Inicia sesión</a></span>
  </div>
</form>
