form{
  background-color: var(--white);
  border-radius: 25px;
}

fieldset{
  border: 1px solid #000000;
  border-radius: 25px;
  padding: 15px;
}

legend{
  font-size: 0.8rem;
  font-weight: bold;
  width: 160px;
  padding: 2px 10px;
  text-align: center;
}
